.wallet {
      
      margin-top: 100px;
      
      &__container {
            display: flex;
      }
      
      &__left {
            max-width: 350px;
            width: 100%;
            max-height: 470px;
            height: 100%;
            overflow: scroll;
            background-color: #efeeee;
            padding: 40px 40px;
      }
      
      &__left-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
      }
      
      &__heading {
      }
      
      &__button {
            border: none;
            outline: none;
            cursor: pointer;
      }
      
      &__img {
            width: 15px;
            height: 15px;
            object-fit: contain;
      }
      
      &__form {
      }
      
      &__label {
      }
      
      &__input {
            display: none;
      }
      
      &__input-span {
            background-color: #ffff;
            color: #363030;
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 30px;
            transition: 0.3s ease;
            
            &:hover {
                  background-color: #9feacc;
            }
      }
      
      &__input:checked + &__input-span {
            background-color: grey;
            color: #ffffff;
      }
      
      &__img {
            width: 15px;
            height: 15px;
            object-fit: contain;
      }
      
      &__span-password {
            margin-bottom: 10px;
            font-family: sans-serif;
            color: inherit;
      }
      
      &__span-text {
            font-family: sans-serif;
            color: inherit;
      }
      
      
      &__right {
            max-width: 600px;
            width: 100%;
            max-height: 470px;
            height: 100%;
            overflow: scroll;
            background-color: #ffff;
            padding: 40px 40px;
      }
      
      &__right-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 45px;
      }
      
      &__right-top--heading {
            
      }
      
      &__right-top--number {
            font-weight: bold;
            font-size: 20px;
      }
      
      &__right-top--sub {
            font-weight: bold;
      }
      
      &__line {
            opacity: 0.8;
            margin-bottom: 25px;
      }
      
      &__right-list {
      }
      
      &__right-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
      }
      
      &t__right-icons {
            width: 22px;
            height: 22px;
            border: 1px solid #dfdbdb;
            border-radius: 50%;
      }
      
      &__minus {
            background-image: url("./../../images/minus.svg");
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: center center;
      } 
      
      &__plus {
            background-image: url(./../../images/plus-icon.svg);
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: center center;
      }
      
      &__right-wrapper {
            margin-left: 30px;
      }
      
      &__right-wrapper--heading {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 5px;
      }
      
      &__right-wrapper--text {
            font-weight: 500;
            color: #d0cbcb;
            font-size: 13px;
            line-height: 15px;
      }
      
      &__wallet-green {
            font-size: 18px;
            color: #78b652;;
            font-weight: bold;
      }
      
      &__right-span {
            font-weight: bold;
            color: #6f94e4;
            font-size: 18px;
      }
}
